<div class="key-container">
  <div id="black-keys-container">
    <kbd id="W"></kbd>
    <kbd id="E"></kbd>
    <kbd class="blank-key"></kbd>
    <kbd id="T"></kbd>
    <kbd id="Y"></kbd>
    <kbd id="U"></kbd>
    <kbd class="blank-key"></kbd>
    <kbd id="O"></kbd>
    <kbd id="P"></kbd>
  </div>
  <div id="white-keys-container">
    <kbd id="A"></kbd>
    <kbd id="S"></kbd>
    <kbd id="D"></kbd>
    <kbd id="F"></kbd>
    <kbd id="G"></kbd>
    <kbd id="H"></kbd>
    <kbd id="J"></kbd>
    <kbd id="K"></kbd>
    <kbd id="L"></kbd>
    <kbd id=";"></kbd>
  </div>
</div>
